@tailwind base;
@tailwind components;
@tailwind utilities;


body{

background:#050706;

color:white;

font-family:
Inter,
Arial,
sans-serif;

}


.glow{

box-shadow:

0 0 30px
rgba(0,255,100,.25);

}


.panel{

background:

linear-gradient(
145deg,
#101511,
#050706
);

border:

1px solid
rgba(0,255,120,.25);

border-radius:24px;

}
